<p id="notice"><%= notice %></p>
  
  <p>
<h1><font color="brown"><u> Order:</u></font>
  <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i> <%= @order.order %></h1>
</p>
<p>
  <font color="heavybrown" size="3"><u><strong>Place:</strong></u></font>&nbsp;&nbsp;&nbsp;
  <font color="" size="3"><%= @order.place %></font>
</p>
<p>
  <font color="heavybrown" size="3"><u><strong>Date make order:</strong></u></font>&nbsp;&nbsp;&nbsp;
 <font color="" size="3"><%= @order.created_at %></font>
</p>
<hr/>
<a class="btn btn-primary"<%= link_to 'Edit', edit_order_path(@order) %>&nbsp;&nbsp;||&nbsp;&nbsp;

<a class="btn btn-primary"<%= link_to 'Back', orders_path %><span class="glyphicon glyphicon-chevron-left"></span><br/>

<%= hidden_field_tag :'order_id' ,@order.id %>
<hr>


