<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @order.order %>
</p>

<p>
  <strong>Place:</strong>
  <%= @order.place %>
</p>

<p>
  <strong>Image:</strong>
  <%= @order.Image %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>


<script type="text/javascript">

    var dispatcher = new WebSocketRails('ws//:localhost:3000'); 
    
    dispatcher.on_open = function(data) {  
        console.log('Connection has been established: ', data);
}  
</script>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
