
<h1> wellcome&nbsp;&nbsp;&nbsp;
<% @currentuser.each do |cuser| %>
	<%= cuser.email %>
	<% end %>

</h1><hr/>
<!-- <div id="div1" class="modal fade" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div id="titlediv" class="model-header text-center">
				<button class="close" data-dismiss="modal"type="">&times;</button>
			</div>
			<div class="modal-body form-horizontal" id="div2">
				
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-danger" data-dismiss="modal" value="close"/>
			</div>
		</div>
	</div>
</div>



<div onclick="">
	<button type="">notiiii</button>
</div> -->
<hr/>
 <div class="row">

	<div class="col-md-5" style=" background-color:lightcyan; margin:10px ;">
		<h3><font color="brown"><u> My Order :</u></font></h3>
			<% @myorder.each do |myord| %>
	    	<a href="#"></a>
	        <!-- <img class="img-responsive" width="50"  src="/images/2.jpg" alt=""> -->
	       <font color="heavycyan" size="3"><u> <strong><%= myord.order%></strong></u>&nbsp;&nbsp; on &nbsp;&nbsp;<%= myord.created_at%></font><br/><br/>  
	        <% end %>
	        <hr/>

	</div>

	<div class="col-md-6" style=" background-color:lightblue ;">
		 <h3><font color="heavybrown"><u>Order My Friends :</u></font></h3>
	    	<% @orderfriends.each do |friendord| %>

	    	<% User.all.each do |user| %>
	    		<% if user.id== friendord.user_id %>
	    			<font color="blue" size="3"><u><%= user.email %></u> 
	    	<% end %>
	    	<% end %>		
	        <!-- <img class="img-responsive" width="50"  src="/images/2.jpg" alt=""> -->
	        &nbsp;&nbsp;has created <u>on order</u> for&nbsp;&nbsp;<strong><%= friendord.order%>&nbsp;&nbsp;</strong> From &nbsp;&nbsp;<u><strong><%= friendord.place%></strong></u>&nbsp;&nbsp;on &nbsp;&nbsp;<%= friendord.created_at%></font> <br/><br/> 
	        <% end %>
	        <hr/>
	</div>

 </div>


<hr>

<div class="row">

	<div class="col-md-1" style=" background-color:lightcyan; margin:10px ;">

	</div>

	<div class="col-md-8" style=" background-color:pink; height: 300px; overflow-y: scroll;">
		 <h3><img  width="50"  src="/images/notf.png" alt="">&nbsp;&nbsp;<font color="heavypink"><u><i> Notification :</i></u></font></h3>

		 <% if @myfiendnotifcates %>
	    	<% @myfiendnotifcates.each do |notficat| %>

	    	<% User.all.each do |user| %>
	    		<% if user.id== notficat.user_id %>
	    			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="blue" size="3"><u><%= user.email %></u></font> 
	    		<% end %>
	    	<% end %>		

	    	&nbsp;&nbsp;<font color="" size="3"><%=notficat.message%></font>&nbsp;&nbsp;

	    	<% if notficat.addfriend != nil %>
	    		<% User.all.each do |user| %>
	    			<% if user.id== notficat.addfriend %>
	    				<font color="green" size="3"><u><%= user.email %></u> </font>
	    			<% end %>
	    		<% end %> 

	    	<% elsif notficat.addfgroup != nil %>
	    		<% User.all.each do |user| %>
	    			<% if user.id== notficat.addfgroup %>
	    				<font color="green" size="3"><u><%= user.email %></u></font> 
	    			<% end %>
	    		<% end %> 

	    	<% elsif notficat.delfriend != nil %>
	    		<% User.all.each do |user| %>
	    			<% if user.id== notficat.delfriend %>
	    				<font color="red" size="3"><u><%= user.email %></u></font>
	    			<% end %>
	    		<% end %> 
	    			
	    	<% elsif notficat.delfgroup != nil %>
	    		<% User.all.each do |user| %>
	    			<% if user.id== notficat.delfgroup %>
	    				<font color="red" size="3"><u><%= user.email %></u> </font>
	    			<% end %>
	    		<% end %> 		

	    	<% end %>
	        <hr/>

	        <% end %>

	   <% else %> 
	   			<font color="red" size="3"><u>NOT N</u> </font> 
	  <% end %>    
	        <hr/>
	</div>

	<div class="col-md-2" style=" background-color:lightcyan; margin:10px ;">

	</div>


 </div>

















<script>
	
</script>
